
<%- include('partials/header.ejs') %>
<section id="content">

    <nav>
        <i class='bx bx-menu' ></i>

        
        <a href="#" class="profile">
            <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGeH6r35Fk8Wg/company-logo_200_200/0/1640441517142?e=1678320000&v=beta&t=GF5yoiA-Mc-gY6zJAgELEj4eegMK3QQI4HO7uvGt980">
        </a>
        <main>
            <ul class="box-info">
                <li>
                    <a href="<%= id %>">     <i class='bx bxs-calendar-check' ></i></a>
                    <span class="text">  
                        <a href="/<%= id %>">   <h3><%=totalOrders%></h3>
                        <p>Orders</p> </a>   
                    </span>
               
                </li>
                <li>
                    <a href="/"> <i class='bx bxs-group' ></i></a>
                    <span class="text">
                        <a href="/"><h3><%=total%></h3>
                        <p>Users</p></a>  
                    </span>
                </li>
                <li>
                    <a href="/<%= id %>">   <i class='bx bxs-dollar-circle' ></i></a>
                    <span class="text">
                        <a href="/<%= id %>">   <h3><i class="fa-solid fa-indian-rupee-sign"></i> <%=totalPayments%></h3>
                        <p>Total Sales</p></a>
                    </span>
                </li>
            </ul>
        </main>
        
        
    </nav>														
	<hr>
	<main>
<div class="table-data">
<%  Details.forEach((data) => { %>	
	<div class="wrapper">
		<div class="left">
			<br><br>
			<img src="https://th.bing.com/th/id/OIP.Pzit_z06f4SRCUcACGIsAwHaHa?pid=ImgDet&rs=1" alt="user" width="100">
			<br><br>		<h3><%=data.name%></h3>
			<hr>			
			
			
		</div>
		<div class="right">
			<div class="info">
				<h3>Information</h3>
				<div class="info_data">
					
					
					<div class="data">
						<h4>College</h4>
						<p><%=data.college%></p>
					</div>
					<div class="data">
						<h4>Insta Handle</h4>
						<p><%=data.instaHandle%></p>
					</div>
					<div class="data">
						<h4>Current Year</h4>
						<p><%=data.yearOfStudy%></p>
					</div>
					<div class="data">
						<h4>Phone</h4>
						<p><%=data.number%></p>
					</div>
					<div class="data">
						<h4>Email</h4>
						<p> <%=data.email%></p>
					</div>
				</div>
			</div>
			
			<div class="projects">
				<h3>Orders</h3>
				
				<div class="projects_data">
					
					<div class="data">
						<h4>Title</h4>
						<%  data.cartItems.forEach((datas) => { %>
							<p><%=datas.title%></p>
							<% }); %>
						</div>
						<div class="data">
							<h4>Price</h4>
							<%  data.cartItems.forEach((datas) => { %>
								<p> <%=datas.price%></p>
								<% }); %>
							</div>
							<div class="data">
								<h4>Payment Status</h4>
								<%  data.cartItems.forEach((datas) => { %>
									<p>	<%=datas.verifyStatus%></p>
									<% }); %>
								</div>
								<div class="data">
									<h4>Genre</h4>
									<%  data.cartItems.forEach((datas) => { %>
										<p>	<%=datas.genre%></p>
										<% }); %>
									</div>
									<div class="data">
										<h4>Prize</h4>
										<%  data.cartItems.forEach((datas) => { %>
											<p>	<%=datas.prize%></p>
											<% }); %>
										</div>
										
									</div>
								</div>
								
								<div class="social_media">
									
								</div>
							</div>
						</div>	<% }); %>
						
					</div>			
				
																		<%- include('partials/footer.ejs') %>																		